<br>
<ion-button routerLink="maker" color="success" shape="round" expand="block">Create new Task</ion-button>

<h3>Your tasks:</h3>

<ion-content>
    <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="bubbles"></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let data of toDoData">
        <ion-item>
            <ion-checkbox slot="start" (click)="Done(data.id)"></ion-checkbox>
            <ion-label>
                <p>Task #{{data.id}}</p>
                <h2>{{data.title}}</h2>
            </ion-label>
            <ion-button color="success"  fill="outline" (click)="navigate(data)">Details</ion-button>
        </ion-item>
    </ion-list>
</ion-content>








