
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Task manager
        </ion-title>
        <ion-icon name="document-text-outline" size="large" slot="start"></ion-icon>
    </ion-toolbar>
</ion-header>


<br>
<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success" (click)="make()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-button (click)="delete()" color="medium" shape="round" size="small">Delete all tasks</ion-button>
    <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="bubbles"></ion-refresher-content>
    </ion-refresher>
    <ion-list >
        <ion-item *ngFor="let data of toDoData">
            <ion-checkbox slot="start" (click)="Done(data.id)"></ion-checkbox>
            <ion-label>
                <p>Task #{{data.id}}</p>
                <h2>{{data.title}}</h2>
            </ion-label>
            <ion-button color="success"  fill="outline" (click)="navigate(data)">Details</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
<router-outlet></router-outlet>








